@font-face {
	font-family: 'Roboto-Medium';
	src: url(../fonts/Roboto-Medium_0.ttf);
}
@font-face {
	font-family: 'Roboto-Thin';
	src: url(../fonts/Roboto-Thin_0.ttf);
}
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.ttf);
}

//@font-face {
//	font-family: 'FSElliotProLight';
//	src: url(../fonts/FSElliotPro-Light.otf);
//}
//@font-face {
//	font-family: 'FSElliotProLightThin';
//	src: url(../fonts/FSElliotPro-Thin.otf);
//}
//@font-face {
//	font-family: 'FSElliotProLightHeavy';
//	src: url(../fonts/FSElliotPro-Heavy.otf);
//}
//@font-face {
//	font-family: 'FSElliotProLightBold';
//	src: url(../fonts/FSElliotPro-Bold.otf);
//}
