.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto-Medium_0.ttf);
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url(../fonts/Roboto-Thin_0.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

audio:not([controls]) {
  display: none;
}

ol, ul {
  list-style: none;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: 0;
}

/* --------------------- END reset meyer styles ---------------------- */
hr {
  border: 0px none;
  background: none;
  outline: none;
  height: 0;
  margin: 0;
}

[hidden] {
  display: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  border-radius: 0;
  border: 0 \9;
}

input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}

input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

textarea {
  overflow: auto;
  vertical-align: top;
  height: auto;
}

select[multiple] {
  height: inherit;
  background-color: #fff;
}

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  box-shadow: none;
  line-height: 18px \9;
}

select,
input[type="file"] {
  height: 28px;
}

textarea {
  height: auto;
}

input[type="hidden"] {
  display: none;
}

input[type="image"] {
  border: 0;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #e6e6e6;
  border-color: #b3b3b3;
  cursor: not-allowed;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: #e9322d;
  box-shadow: 0 0 6px #f8b9b7;
}

.icons-sprite {
  background-image: url('../images/sprites/icons-s674e5619d3.png');
  background-repeat: no-repeat;
}

.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.inline-block, audio,
canvas,
video {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.i-invisible {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.drop-wrapper {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  margin-top: 75px;
}
.drop-wrapper .drop {
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  overflow: hidden;
  height: 48px;
}
.drop-wrapper .drop__head {
  border-bottom: 1px solid #f0f0f0;
  padding: 14px 45px;
  font-size: 16px;
  position: relative;
  color: #666666;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
}
.drop-wrapper .drop__head:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
}
.drop-wrapper .drop__title {
  position: relative;
}
.drop-wrapper .drop__title .arrow {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  position: absolute;
  left: -25px;
  top: 5px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}
.drop-wrapper .drop__title .arrow.down {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}
.drop-wrapper .drop__bottom {
  font-size: 16px;
  padding: 14px 20px;
}
.drop-wrapper .drop__text {
  line-height: 28px;
}

@media (max-device-width: 960px) {
  .drop-wrapper .drop {
    height: 96px;
  }
  .drop-wrapper .drop__head {
    font-size: 32px;
    padding: 30px 45px;
  }
  .drop-wrapper .drop__title {
    font-size: 32px;
  }
  .drop-wrapper .drop__title .arrow {
    top: 10px;
  }
  .drop-wrapper .drop__text {
    font-size: 56px;
    line-height: 76px;
    padding-bottom: 20px;
  }
}
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.font-family, .header .nav__list__item, .head, .head__btn, .mobile-nav, .difference__desc__title, .difference__desc__sub-title, .difference__desc__text, .difference__desc__btn, .footer, .footer__top__item .about-list__item_head, .footer__top__item .more-list__item_head, .footer__top__item .about-list__item .nlink, .footer__top__item .more-list__item .nlink, .footer__top__item .more-list__item .link, input[type="text"],
input[type="email"],
input[type="password"], label {
  font-family: 'Roboto','Arial', 'Helvetica', 'sans-serif';
  font-weight: 300;
}

.header {
  width: 100%;
  background-color: #000;
  z-index: 99;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
}
.header__inner, .head__inner, .difference__inner, .footer__inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner .logo-area .logo img, .head__inner .logo-area .logo img, .difference__inner .logo-area .logo img, .footer__inner .logo-area .logo img {
  width: 230px;
}
.header .nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav__list__item {
  color: #fff;
  margin: 0 10px;
  font-size: 14px;
}
.header .nav__list__item .link {
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
  text-decoration: none;
}
.header .nav__list__item .link:hover {
  color: #00adef;
  -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}
.header .nav__list__item_icon:before {
  content: '\f2c0';
  font-family: 'FontAwesome';
  color: #fff;
}
.header .nav__list__item_mobile-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
}
.header .nav__list__item_mobile-nav .line {
  width: 30px;
  height: 1px;
  border-top: 3px solid #4c4c4c;
}

.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
  background-image: url("../images/main/main-head.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  height: 330px;
}
.head .gp-particles {
  position: absolute;
  width: 100%;
  height: 100%;
}
.head__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.head__title {
  font-size: 40px;
  color: #fff;
  margin-top: 49px;
}
.head__desc {
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
}
.head__btn {
  font-size: 14px;
  margin-top: 70px;
  text-transform: uppercase;
}
.head__btn .btn {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 22px 48px 19px 87px;
  position: relative;
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
}
.head__btn .btn:hover {
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
  background-color: #eaebeb;
}
.head__btn .btn_blue {
  color: #fff;
  margin-left: 42px;
  background-color: #08c;
  border: 1px solid #0088cb;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
}
.head__btn .btn_blue:hover {
  border-color: #0074ad;
  background-color: #0074ad;
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
}
.head__btn .btn__text {
  position: relative;
}
.head__btn .btn__text:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: -16px;
  top: 3px;
}
.head__btn .btn__text_white:before {
  content: '';
  border-color: #fff;
}

.mobile-nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  display: none;
}
.mobile-nav__list {
  width: 50%;
  height: 100%;
  background-color: #000;
  padding-left: 20px;
  padding-top: 40px;
  position: absolute;
  left: -50%;
  -webkit-transition: left 0.2s ease-in-out;
          transition: left 0.2s ease-in-out;
}
.mobile-nav__list.opened {
  left: 0;
  -webkit-transition: left 0.2s ease-in-out;
          transition: left 0.2s ease-in-out;
}
.mobile-nav__item {
  font-size: 16px;
  padding: 16px 0;
}
.mobile-nav__item .link {
  color: #fff;
  text-decoration: none;
}

.difference {
  padding-top: 41px;
  padding-bottom: 130px;
  background-image: url("../images/purpose/shadow.png");
  background-repeat: no-repeat;
  background-position: 50% bottom;
}
.difference__inner {
  height: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.difference__circle {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 30px;
}
.difference__circle .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #bcbdc0;
  position: relative;
  top: 16px;
  box-sizing: border-box;
}
.difference__desc {
  width: 75%;
  font-weight: 300;
  color: #000;
  padding-top: 60px;
}
.difference__desc__title {
  font-size: 30px;
}
.difference__desc__sub-title {
  font-size: 44px;
  margin-top: 13px;
}
.difference__desc__text {
  font-size: 16px;
  display: block;
  margin-top: 34px;
  line-height: 28px;
}
.difference__desc__btn {
  font-size: 14px;
  margin-top: 35px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.difference__desc__btn .btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #08c;
  background-color: #08c;
  padding: 14px 48px 14px 20px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
  position: relative;
}
.difference__desc__btn .btn__text {
  position: relative;
}
.difference__desc__btn .btn__text:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: -16px;
  top: 3px;
}

.footer {
  width: 100%;
  background-color: #cecece;
  padding: 0 10px;
}
.footer__inner {
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 42px;
}
.footer__top__item {
  font-size: 16px;
  font-weight: 400;
  width: 31.3%;
}
.footer__top__item .link {
  font-weight: 300;
  text-decoration: none;
  font-size: 14px;
  color: #5e5e5e;
}
.footer__top__item .about-list__item, .footer__top__item .more-list__item {
  margin-bottom: 11px;
}
.footer__top__item .about-list__item_head, .footer__top__item .more-list__item_head {
  color: #000000;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 400;
}
.footer__top__item .about-list__item .nlink, .footer__top__item .more-list__item .nlink {
  color: #5e5e5e !important;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
  font-size: 14px;
}
.footer__top__item .about-list__item .nlink:hover, .footer__top__item .more-list__item .nlink:hover {
  color: #000 !important;
  -webkit-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
}
.footer__top__item .more-list__item .link {
  text-decoration: none;
  color: #5e5e5e;
}
.footer__bottom {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 26px 0;
}
.footer__bottom__item .copy,
.footer__bottom__item .privacy,
.footer__bottom__item .terms {
  font-size: 12px;
  color: #5e5e5e;
  text-decoration: none;
}
.footer__bottom__item .terms {
  margin-left: 7px;
}

.circle {
  box-sizing: border-box;
}

@media (max-device-width: 960px) {
  .wrapper {
    position: static;
    margin: 0 auto;
  }

  .header__inner, .head__inner, .difference__inner, .footer__inner {
    height: 140px;
  }
  .header .nav__list__item:nth-child(1), .header .nav__list__item:nth-child(2) {
    display: none;
  }
  .header .nav__list__item_mobile-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 35px;
  }
  .header .nav__list__item_mobile-nav .line {
    width: 60px;
    height: 1px;
    border-top: 6px solid #4c4c4c;
  }

  .mobile-nav.opened {
    display: block;
  }
  .mobile-nav__item {
    font-size: 32px;
    padding: 32px 0;
  }
  .mobile-nav__close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 50px;
    height: 50px;
  }
  .mobile-nav__close:before, .mobile-nav__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .mobile-nav__close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .mobile-nav__close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .head {
    height: auto;
    min-height: 590px;
    padding: 0 20px;
  }
  .head__title {
    font-size: 80px;
    text-align: center;
  }
  .head__desc {
    font-size: 60px;
    text-align: center;
  }
  .head__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
  }
  .head__btn .btn {
    width: 40%;
    min-width: 270px;
    margin: 0 auto 20px auto;
  }
  .head__btn .btn__text {
    font-size: 20px;
  }
  .head__btn .btn__text:before {
    content: '';
    top: 6px;
  }

  .difference__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
    height: auto;
  }
  .difference__circle {
    width: 100%;
  }
  .difference__desc {
    width: 100%;
  }
  .difference__desc__btn .btn {
    padding: 28px 96px 28px 40px;
  }
  .difference__desc__btn .btn__text {
    font-size: 30px;
  }
  .difference__desc__btn .btn__text:before {
    content: '';
    top: 10px;
  }
  .difference__desc__title {
    font-size: 60px;
  }
  .difference__desc__sub-title {
    font-size: 88px;
  }
  .difference__desc__text {
    font-size: 32px;
    line-height: 60px;
  }

  .footer__inner {
    height: auto;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top__item {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .footer__top__item .link {
    font-size: 30px;
  }
  .footer__top__item .about-list__item, .footer__top__item .more-list__item {
    font-size: 30px;
  }
  .footer__top__item .about-list__item .nlink, .footer__top__item .more-list__item .nlink {
    font-size: 28px;
  }
  .footer__top__item .more-list__item {
    font-size: 30px;
  }
  .footer__top__item .more-list__item .nlink {
    font-size: 28px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__bottom__item {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer__bottom__item .copy,
  .footer__bottom__item .privacy,
  .footer__bottom__item .terms {
    font-size: 24px;
  }
}
.wrapper_purpose .our-story {
  width: 100%;
  color: #000;
  padding-top: 166px;
}
.wrapper_purpose .our-story__inner, .wrapper_purpose .we-make__inner, .wrapper_purpose .objectives__inner, .wrapper_purpose .target__inner, .wrapper_purpose .influencer__inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  padding: 0 20px 160px;
  background-image: url("../images/purpose/shadow.png");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: contain;
}
.wrapper_purpose .our-story__title {
  font-size: 30px;
}
.wrapper_purpose .our-story__question {
  font-size: 44px;
  margin-top: 13px;
}
.wrapper_purpose .our-story__text {
  font-size: 16px;
  display: block;
  margin-top: 40px;
}
.wrapper_purpose .we-make {
  padding-top: 55px;
}
.wrapper_purpose .we-make__inner {
  background-image: none;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 80px;
}
.wrapper_purpose .we-make__text, .wrapper_purpose .objectives__text, .wrapper_purpose .target__text, .wrapper_purpose .influencer__text {
  font-size: 16px;
  line-height: 38px;
  display: block;
  width: 66%;
  margin: 0 auto;
}
.wrapper_purpose .objectives__inner {
  background-image: none;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 80px;
}
.wrapper_purpose .objectives__title, .wrapper_purpose .target__title {
  font-size: 24px;
  margin-top: 89px;
  margin-bottom: 20px;
}
.wrapper_purpose .target__inner {
  background-image: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}
.wrapper_purpose .target__item {
  width: 50%;
}
.wrapper_purpose .influencer {
  background-color: #e0e0e0;
  padding-top: 85px;
}
.wrapper_purpose .influencer__inner {
  background-image: none;
  padding-bottom: 80px;
}
.wrapper_purpose .influencer__text {
  margin-bottom: 12px;
}

@media (max-device-width: 960px) {
  .wrapper_purpose .our-story__title {
    font-size: 60px;
  }
  .wrapper_purpose .our-story__question {
    font-size: 88px;
  }
  .wrapper_purpose .our-story__text {
    font-size: 32px;
    line-height: 42px;
  }
  .wrapper_purpose .we-make__text, .wrapper_purpose .objectives__text, .wrapper_purpose .target__text, .wrapper_purpose .influencer__text {
    width: 100%;
    padding: 0 10px;
    font-size: 32px;
    line-height: 56px;
  }
  .wrapper_purpose .objectives__title, .wrapper_purpose .target__title {
    font-size: 48px;
  }
  .wrapper_purpose .target__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .wrapper_purpose .target__item {
    width: 100%;
  }
  .wrapper_purpose .target__text {
    padding-left: 0;
  }
}
.wrapper_benefits {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
}
.wrapper_benefits .benefits {
  width: 100%;
  background-color: #fff;
  padding-top: 90px;
}
.wrapper_benefits .benefits__inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.wrapper_benefits .benefits__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 91px;
}
.wrapper_benefits .benefits__item:last-child {
  border: none;
}
.wrapper_benefits .benefits__circle {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 0 0 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper_benefits .benefits__circle .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #bcbdc0;
  box-sizing: border-box;
}
.wrapper_benefits .benefits__desc {
  width: 75%;
  padding-top: 74px;
  padding-left: 8px;
}
.wrapper_benefits .benefits__desc__title {
  font-size: 30px;
}
.wrapper_benefits .benefits__desc__title-big {
  font-size: 44px;
  margin-top: 13px;
}
.wrapper_benefits .benefits__list {
  margin-top: 36px;
  padding-left: 23px;
}
.wrapper_benefits .benefits__list__item {
  font-size: 16px;
  position: relative;
  line-height: 28px;
}
.wrapper_benefits .benefits__list__item:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #000;
  top: 11px;
  left: -16px;
}
.wrapper_benefits .benefits-desc {
  background-color: #eaeaea;
  box-sizing: border-box;
  padding: 60px 0;
  text-align: center;
}
.wrapper_benefits .benefits-desc__inner {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper_benefits .benefits-desc__text {
  display: block;
  font-size: 16px;
  line-height: 28px;
}
.wrapper_benefits .benefits-desc__text_first {
  margin-bottom: 10px;
}

@media (max-device-width: 960px) {
  .wrapper_benefits .benefits__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_benefits .benefits__circle {
    width: 100%;
  }
  .wrapper_benefits .benefits__desc__title {
    font-size: 60px;
  }
  .wrapper_benefits .benefits__desc__title-big {
    font-size: 88px;
  }
  .wrapper_benefits .benefits__list__item {
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 20px;
  }
  .wrapper_benefits .benefits__list__item:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #000;
    top: 18px;
    left: -16px;
  }
  .wrapper_benefits .benefits-desc__text {
    font-size: 32px;
    line-height: 52px;
  }
}
.wrapper_getconnected {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #000;
  background-color: #fff;
  padding-top: 90px;
}
.wrapper_getconnected .get-connected__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 97px;
}
.wrapper_getconnected .get-connected__desc {
  padding-top: 30px;
  width: 62%;
}
.wrapper_getconnected .get-connected__desc__title {
  font-size: 30px;
}
.wrapper_getconnected .get-connected__desc__title-big {
  font-size: 44px;
  margin-top: 13px;
}
.wrapper_getconnected .get-connected__desc__text {
  font-size: 16px;
  display: block;
  margin-top: 36px;
  line-height: 28px;
  width: 80%;
}
.wrapper_getconnected .get-connected__desc__list {
  margin-top: 16px;
  padding-left: 24px;
}
.wrapper_getconnected .get-connected__desc__list__item {
  font-size: 16px;
  position: relative;
  margin-bottom: 9px;
}
.wrapper_getconnected .get-connected__desc__list__item:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #000;
  top: 7px;
  left: -17px;
}
.wrapper_getconnected .get-connected__circle .circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #bcbdc0;
  box-sizing: border-box;
}
.wrapper_getconnected .how {
  padding-top: 80px;
}
.wrapper_getconnected .how__inner, .wrapper_getconnected .costs__inner, .wrapper_getconnected .faq__inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  border-bottom: 1px solid #d8d8d8;
}
.wrapper_getconnected .how__title {
  font-size: 30px;
}
.wrapper_getconnected .how__text {
  font-size: 16px;
  display: block;
  margin-top: 21px;
  line-height: 28px;
}
.wrapper_getconnected .how__board {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 110px;
  padding-bottom: 138px;
}
.wrapper_getconnected .how__board__item {
  width: 30%;
}
.wrapper_getconnected .how__board__item .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #bcbdc0;
  position: relative;
}
.wrapper_getconnected .how__board__item .circle .number {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00aae8;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 30px;
}
.wrapper_getconnected .how__board__title {
  font-size: 24px;
  margin-top: 35px;
}
.wrapper_getconnected .how__board__text {
  font-size: 16px;
  display: block;
  margin-top: 16px;
}
.wrapper_getconnected .how__board__list {
  margin-top: 17px;
  padding-left: 24px;
}
.wrapper_getconnected .how__board__list__item {
  font-size: 16px;
  position: relative;
  line-height: 28px;
}
.wrapper_getconnected .how__board__list__item:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #000;
  top: 11px;
  left: -17px;
}
.wrapper_getconnected .costs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  padding-bottom: 89px;
}
.wrapper_getconnected .costs__inner {
  max-width: 600px;
  padding: 0 32px;
  border: none;
}
.wrapper_getconnected .costs__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 39px;
}
.wrapper_getconnected .costs__text {
  font-size: 16px;
  display: block;
  margin-top: 20px;
}
.wrapper_getconnected .costs__desc__title {
  font-size: 19px;
  margin-top: 21px;
  font-weight: 400;
}
.wrapper_getconnected .costs__desc__text {
  margin-top: 12px;
  display: block;
  font-style: italic;
  line-height: 28px;
}
.wrapper_getconnected .costs__desc__btn {
  font-size: 14px;
  margin-top: 35px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wrapper_getconnected .costs__desc__btn .btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #08c;
  background-color: #08c;
  padding: 14px 48px 14px 20px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
}
.wrapper_getconnected .costs__desc__btn .btn__text {
  position: relative;
}
.wrapper_getconnected .costs__desc__btn .btn__text:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: -16px;
  top: 3px;
}
.wrapper_getconnected .faq {
  background-color: #eaeaea;
  padding-top: 90px;
  margin-top: 15px;
}
.wrapper_getconnected .faq__title {
  font-size: 30px;
}
.wrapper_getconnected .faq__text {
  font-size: 16px;
  display: block;
  margin-top: 21px;
}
.wrapper_getconnected .trusts {
  background-color: #eaeaea;
  padding-top: 50px;
  padding-bottom: 40px;
}
.wrapper_getconnected .trusts__title {
  font-size: 20px;
  max-width: 960px;
  margin: 0 auto 50px;
  text-align: center;
}
.wrapper_getconnected .trusts__inner {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.wrapper_getconnected .trusts-item {
  text-align: center;
}
.wrapper_getconnected .trusts-item__title {
  margin-bottom: 30px;
}
.wrapper_getconnected .trusts-item-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-device-width: 960px) {
  .wrapper_getconnected .get-connected__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .wrapper_getconnected .get-connected__desc {
    width: 100%;
  }
  .wrapper_getconnected .get-connected__desc__title {
    font-size: 60px;
  }
  .wrapper_getconnected .get-connected__desc__title-big {
    font-size: 88px;
  }
  .wrapper_getconnected .get-connected__desc__text {
    font-size: 32px;
    line-height: 52px;
  }
  .wrapper_getconnected .get-connected__desc__list__item {
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 20px;
  }
  .wrapper_getconnected .get-connected__desc__list__item:before {
    content: '';
    top: 20px;
  }
  .wrapper_getconnected .get-connected__circle {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wrapper_getconnected .how {
    padding-left: 20px;
  }
  .wrapper_getconnected .how__title {
    font-size: 60px;
  }
  .wrapper_getconnected .how__text {
    font-size: 32px;
    line-height: 52px;
  }
  .wrapper_getconnected .how__board {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_getconnected .how__board__item {
    width: 100%;
    margin-bottom: 75px;
  }
  .wrapper_getconnected .how__board__title {
    font-size: 48px;
  }
  .wrapper_getconnected .how__board__text {
    font-size: 32px;
  }
  .wrapper_getconnected .how__board__list__item {
    font-size: 32px;
    line-height: 52px;
    margin-bottom: 15px;
  }
  .wrapper_getconnected .how__board__list__item:before {
    content: '';
    top: 20px;
  }
  .wrapper_getconnected .costs__title {
    font-size: 60px;
  }
  .wrapper_getconnected .costs__text {
    font-size: 32px;
  }
  .wrapper_getconnected .costs__desc__title {
    font-size: 38px;
  }
  .wrapper_getconnected .costs__desc__text {
    font-size: 32px;
    line-height: 50px;
  }
  .wrapper_getconnected .costs__desc__btn .btn {
    padding: 28px 96px 28px 40px;
  }
  .wrapper_getconnected .costs__desc__btn .btn__text {
    font-size: 30px;
  }
  .wrapper_getconnected .costs__desc__btn .btn__text:before {
    content: '';
    top: 10px;
  }
  .wrapper_getconnected .faq__title {
    font-size: 60px;
  }
  .wrapper_getconnected .faq__text {
    font-size: 32px;
  }
  .wrapper_getconnected .faq__inner {
    padding: 0 10px;
  }
  .wrapper_getconnected .trusts-item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
.privacy-page {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #000;
  padding-top: 142px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;
}
.privacy-page__inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
.privacy-page__title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 13px;
}
.privacy-page__text, .privacy-page__item__text {
  line-height: 28px;
  font-size: 16px;
  display: block;
  margin-bottom: 12px;
}
.privacy-page__item_first {
  margin-top: 55px;
}
.privacy-page__item__title {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 12px;
}

@media (max-device-width: 960px) {
  .privacy-page__inner {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .privacy-page__title {
    font-size: 60px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 13px;
  }
  .privacy-page__text, .privacy-page__item__text {
    font-size: 32px;
    line-height: 56px;
    display: block;
    margin-bottom: 12px;
  }
  .privacy-page__item_first {
    margin-top: 55px;
  }
  .privacy-page__item__title {
    font-size: 38px;
    line-height: 68px;
    font-weight: 400;
    margin-bottom: 12px;
  }
}
.terms-page {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #000;
  padding-top: 142px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;
}
.terms-page__inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}
.terms-page__title {
  font-size: 30px;
}
.terms-page__text {
  display: block;
  margin-top: 16px;
}
.terms-page__item_first {
  margin-top: 58px;
}
.terms-page__item__title {
  font-size: 20px;
  margin-top: 13px;
  font-weight: 400;
}
.terms-page__item__title_large {
  font-size: 25px;
}
.terms-page__item__text {
  display: block;
  line-height: 28px;
  margin-top: 12px;
}
.terms-page__item .terms-page-list {
  padding-left: 24px;
  margin-top: 12px;
}
.terms-page__item .terms-page-list__item {
  position: relative;
  line-height: 28px;
}
.terms-page__item .terms-page-list__item:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #000;
  top: 11px;
  left: -17px;
}

@media (max-device-width: 960px) {
  .terms-page__inner {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .terms-page__title {
    font-size: 60px;
    line-height: 80px;
  }
  .terms-page__text {
    display: block;
    margin-top: 16px;
    font-size: 32px;
    line-height: 52px;
  }
  .terms-page__item_first {
    margin-top: 58px;
  }
  .terms-page__item__title {
    font-size: 40px;
    line-height: 60px;
    margin-top: 13px;
    font-weight: 400;
  }
  .terms-page__item__title_large {
    font-size: 60px;
    line-height: 100px;
    margin-top: 32px;
  }
  .terms-page__item__text {
    display: block;
    font-size: 32px;
    line-height: 52px;
    margin-top: 12px;
  }
  .terms-page__item .terms-page-list__item:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #000;
    top: 11px;
    left: -17px;
  }
}
.wrapper_sign-up {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  color: #000;
  padding-top: 90px;
}

.font-family, .header .nav__list__item, .head, .head__btn, .mobile-nav, .difference__desc__title, .difference__desc__sub-title, .difference__desc__text, .difference__desc__btn, .footer, .footer__top__item .about-list__item_head, .footer__top__item .more-list__item_head, .footer__top__item .about-list__item .nlink, .footer__top__item .more-list__item .nlink, .footer__top__item .more-list__item .link, input[type="text"],
input[type="email"],
input[type="password"], label {
  font-family: 'Roboto','Arial', 'Helvetica', 'sans-serif';
  font-weight: 300;
  color: #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #e6e7e7;
  background: #ffffff !important;
  outline: none;
  height: 50px;
  width: 100%;
  color: #cccccc;
  font-size: 10px;
  margin-bottom: 20px;
}
input[type="text"].error,
input[type="email"].error,
input[type="password"].error {
  border-color: #ff0000;
}

label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

input[type="text"]:focus {
  color: #000000;
  border: 1px solid #0099ff;
  padding-left: 20px;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio input[type="radio"] + label {
  font-size: 14px;
  text-transform: uppercase;
  color: #601d0d;
  cursor: pointer;
}

.custom-radio input[type="radio"] + label span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.form-area {
  width: 100%;
  max-width: 800px;
  margin: 90px auto 50px;
}
.form-area__title {
  font-size: 30px;
  margin-bottom: 10px;
}
.form-area__title_big {
  font-size: 40px;
  margin-bottom: 10px;
}
.form-area__title_biger {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}
.form-area__title_underline {
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}
.form-area__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-area__form_top {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.form-area__form .steps-group {
  padding-left: 30px;
}
.form-area__text {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
}
.form-area__text_list {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}
.form-area__text_list:before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -3px;
}
.form-area__text__bold {
  font-weight: 500;
  text-decoration: none;
  color: #000;
}
.form-area__text__big {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 30px;
}
.form-area_log-in {
  background-image: url("../images/forms/city.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 bottom;
  padding-bottom: 260px;
  max-width: 520px;
}

.form-group {
  width: 65%;
  max-width: 520px;
}

.double-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.double-input .input-wrapp {
  width: 48%;
}

.input-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 520px;
}
.input-wrapp_small {
  max-width: 240px;
}
.input-wrapp_max {
  width: 100%;
}
.input-wrapp_horisontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.input-wrapp_horisontal label {
  width: 100%;
  max-width: 130px;
  font-size: 14px;
  font-weight: 500;
}
.input-wrapp_horisontal input {
  max-width: 400px;
  margin-bottom: 0;
  padding-left: 20px;
  font-size: 12px;
  color: #e6e7e7;
  font-weight: 400;
}
.input-wrapp_horisontal input.no-border-bottom {
  border-bottom: none;
}
.input-wrapp_horisontal.no-margin {
  margin-bottom: 0;
  border-bottom: none;
}

.form-btn {
  width: 100%;
  max-width: 185px;
  height: 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background-color: #1a9bfc;
  font-weight: 400;
  margin-bottom: 30px;
}
.form-btn_d {
  max-width: 205px;
}
.form-btn__text {
  position: relative;
  right: 5px;
}
.form-btn__text:before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: -16px;
  top: 7px;
}
.form-btn-link {
  color: #1a9bfc;
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 40px;
}

.radiobtn-area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}
.radiobtn-area__text {
  margin-right: 50px;
  font-weight: 400;
}
.radiobtn-area__items {
  font-size: 12px;
}
.radiobtn-area__items span {
  margin-left: 10px;
  line-height: 25px;
}

.steps-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.steps-group__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.steps-group__item .circle-wrapp {
  width: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps-group__item .circle {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  padding-left: 1px;
  background-color: #b2b2b2;
  position: relative;
  border: 1px solid #fff;
}
.steps-group__item .circle:before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  border: 1px solid #b2b2b2;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  z-index: -1;
}
.steps-group__item .circle.active {
  background-color: #1a9bfc;
}
.steps-group__item .circle.active:before {
  content: '';
  border: 1px solid #1a9bfc;
}
.steps-group__item .circle_head {
  width: 20px;
  height: 20px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto';
  font-size: 12px;
  border: 2px solid #fff;
}
.steps-group__item .circle_head_first:before {
  content: '';
  display: none;
}
.steps-group__item .circle_head.active {
  border: 2px solid #29f1ce;
}
.steps-group__item .text {
  font-size: 16px;
  color: #b2b2b2;
}
.steps-group__item .text_head {
  font-size: 17px;
  font-weight: 500;
  color: #000000;
}
.steps-group__item .text.active {
  font-weight: 400;
  color: #000000;
}

@media print {
  header,
  footer,
  aside,
  nav {
    display: none;
  }

  form,
  fieldset,
  label,
  input,
  textarea {
    display: none;
  }

  body {
    background: #fff;
    font-size: 14pt;
    line-height: 1.2;
    color: #000;
    font-family: Times New Roman, Times, serif;
  }

  a,
  a:visited {
    text-decoration: underline;
    color: #000;
  }

  h1, h2, h3, h4, h5, h6,
  caption {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-top: 15px;
  }

  blockquote {
    font-style: italic;
    border: 1pt solid #ccc;
  }

  table {
    background: #ffffff;
    border: solid #ccc;
    border-width: 1pt 0 0 1pt;
    border-collapse: inherit;
    border-spacing: inherit;
  }

  th,
  td {
    border: solid #ccc;
    border-width: 0 1pt 1pt 0;
    padding: 5pt 7pt;
  }

  thead th,
  thead td {
    background: #f5f5f5;
  }
}
