@media (max-device-width: 960px) {
  .wrapper{
    &_benefits{
      .benefits{
        &__inner{
        }
        &__item{
          flex-direction: column;
        }
        &__circle{
          width: 100%;

          .circle{

          }
        }
        &__desc{
          &__title{
            font-size: 60px;
          }
          &__title-big{
            font-size: 88px;
          }
        }
        &__list{
          &__item{
            font-size: 32px;
            line-height: 52px;
            margin-bottom: 20px;
            &:before{
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: #000;
              top: 18px;
              left: -16px;

            }
          }
        }
        &-desc{
          &__text{
            font-size: 32px;
            line-height: 52px;
          }
        }
      }
    }
  }
}

