.wrapper{
  &_benefits{

    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 300;
    .benefits{
      width: 100%;
      background-color: $white;
      padding-top: 90px;
      &__inner{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
      }
      &__item{
        display: flex;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 91px;
        &:last-child{
          border: none;
        }
      }
      &__circle{
        width: 25%;
        display: flex;
        padding: 48px 0 0 0;
        justify-content: center;
        .circle{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: 3px solid #bcbdc0;
          box-sizing: border-box;

        }
      }
      &__desc{
        width: 75%;
        padding-top: 74px;
        padding-left: 8px;
        &__title{
          font-size: 30px;
        }
        &__title-big{
          font-size: 44px;
          margin-top: 13px;
        }
      }
      &__list{
        margin-top: 36px;
        padding-left: 23px;
        &__item{
          font-size: 16px;
          position: relative;
          line-height: 28px;
          &:before{
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: #000;
            top: 11px;
            left: -16px;

          }
        }
      }
    }
    .benefits-desc{
      background-color: #eaeaea;
      box-sizing: border-box;
      padding: 60px 0;
      text-align: center;
      &__inner{
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        padding: 0 20px;
      }
      &__text{
        display: block;
        font-size: 16px;
        line-height: 28px;
        &_first{
          margin-bottom: 10px;
        }
      }
    }
  }
}