.drop-wrapper{
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  margin-top: 75px;
  .drop{

    background-color: #f8f8f8;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
    overflow: hidden;
    height: 48px;
    &__head{
      border-bottom: 1px solid #f0f0f0;
      padding: 14px 45px;
      font-size: 16px;
      position: relative;
      color: #666666;
      background-color: #f8f8f8;
      transition: background-color 0.3s ease-in-out;
      &:hover{
        cursor: pointer;
        background-color: #f0f0f0;
        transition: background-color 0.3s ease-in-out;
      }
    }
    &__title{
      position: relative;
      .arrow{
        display: inline-block;
        width: 9px;
        height: 9px;
        border-right: 2px solid $black;
        border-top: 2px solid $black;
        position: absolute;
        left: -25px;
        top: 5px;
        transform: rotate(135deg);
        transition: transform 0.3s ease-in-out;
        &.down{
          transform: rotate(-45deg);
          transition: transform 0.3s ease-in-out;
        }
      }
    }
    &__bottom{
      font-size: 16px;
      padding: 14px 20px;
    }
    &__text{
      line-height: 28px;
    }
  }
}