@media (max-device-width: 960px) {
  .drop-wrapper{
    .drop{
      height: 96px;
      &__head{
        font-size: 32px;
        padding: 30px 45px;
      }
      &__title{
        font-size: 32px;
        .arrow{
          top: 10px;
          &.down{
          }
        }
      }
      &__bottom{
      }
      &__text{
        font-size: 56px;
        line-height: 76px;
        padding-bottom: 20px;
      }
    }
  }
}

