.wrapper{
  &_sign-up{
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 300;
    color: $black;
    padding-top: 90px;
  }
}
.font-family{
  font-family: 'Roboto','Arial', 'Helvetica', 'sans-serif';
  font-weight: 300;
  color: $black;
}
input[type="text"],
input[type="email"],
input[type="password"]
{
  border: 1px solid #e6e7e7;
  background: #ffffff !important;
  outline: none;
  height: 50px;
  width: 100%;
  color: #cccccc;
  @extend .font-family;
  font-size: 10px;
  margin-bottom: 20px;
  &.error{
    border-color: #ff0000;
  }
}
label{
  @extend .font-family;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;

}
input[type="text"]:focus {
  color: #000000;
  border: 1px solid #0099ff;
  padding-left: 20px;

}
.custom-radio input[type="radio"] {
  display:none;
}

.custom-radio input[type="radio"] + label {
  font-size:14px;
  text-transform: uppercase;
  color: #601d0d;
  cursor: pointer;
}

.custom-radio input[type="radio"] + label span {
  display:inline-block;
  width:8px;
  height:8px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  border-radius:  50%;
}





.form-area{
  width: 100%;
  max-width: 800px;
  margin: 90px auto 50px;
  &__title{
    font-size: 30px;
    margin-bottom: 10px;
    &_big{
      font-size: 40px;
      margin-bottom: 10px;
    }
    &_biger{
      font-size: 32px;
      font-weight: bold;
      margin-top: 20px;
    }
    &_underline{
      border-bottom: 1px solid $black;
      margin-bottom: 30px;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    &_top{
      flex-direction: row;
    }
    .steps-group{
      padding-left: 30px;
    }
  }
  &__text{
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px;
    &_list{
      position: relative;
      padding-left: 15px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
      &:before{
        content: '';
        width: 5px;
        height: 5px;
        display: inline-block;
        border-radius: 50%;
        background-color: $black;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -3px;
      }
    }
    &__bold{
      font-weight: 500;
      text-decoration: none;
      color: $black;
    }
    &__big{
      font-size: 18px;
      font-weight: 500;
      display: block;
      margin-bottom: 30px;
    }
  }
  &_log-in{
    background-image: url("../images/forms/city.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 bottom;
    padding-bottom: 260px;
    max-width: 520px;
  }
}



.form-group{
  width: 65%;
  max-width: 520px;
}
.double-input{
  display: flex;
  justify-content: space-between;
  .input-wrapp{
    width: 48%;
  }
}
.input-wrapp{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  &_small{
    max-width: 240px;
  }
  &_max{
    width: 100%;
  }
  &_horisontal{
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    label{
      width: 100%;
      max-width: 130px;
      font-size: 14px;
      font-weight: 500;
    }
    input{
      max-width: 400px;
      margin-bottom: 0;
      padding-left: 20px;
      font-size: 12px;
      color: #e6e7e7;
      font-weight: 400;
      &.no-border-bottom{
        border-bottom: none;
      }
    }
    &.no-margin{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
.form-btn{
  width: 100%;
  max-width: 185px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $white;
  font-size: 20px;
  background-color: #1a9bfc;
  font-weight: 400;
  margin-bottom: 30px;
  &_d{
    max-width: 205px;
  }
  &__text{
    position: relative;
    right: 5px;
    &:before {
      content: "";
      display: inline-block;
      width: 9px;
      height: 9px;
      border-right: 2px solid $white;
      border-top: 2px solid $white;
      transform: rotate(45deg);
      position: absolute;
      right: -16px;
      top: 7px;
    }
  }
  &-link{
    color: #1a9bfc;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 40px;
  }
}
.radiobtn-area{
  display: flex;
  margin: 40px 0;
  &__text{
    margin-right: 50px;
    font-weight: 400;
  }
  &__items{
    font-size: 12px;
    span{
      margin-left: 10px;
      line-height: 25px;
    }
  }
}
.steps-group{
  display: flex;
  flex-direction: column;
  &__item{
    display: flex;
    margin-bottom: 15px;
    .circle-wrapp{
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .circle{
      border-radius: 50%;
      width: 6px;
      height: 6px;
      padding-left: 1px;
      background-color: #b2b2b2;
      position: relative;
      border: 1px solid $white;
      &:before{
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        border: 1px solid #b2b2b2;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -1px;
        z-index: -1;
      }
      &.active{
        background-color: #1a9bfc;
        &:before{
          content: '';
          border: 1px solid #1a9bfc;

        }
      }
      &_head{
        width: 20px;
        height: 20px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto';
        font-size: 12px;
        border: 2px solid $white;
        &_first{
          &:before{
            content: '';
            display: none;
          }
        }
        &.active{
          border: 2px solid #29f1ce;
        }
      }
    }
    .text{
      font-size: 16px;
      color: #b2b2b2;
      &_head{
        font-size: 17px;
        font-weight: 500;
        color: #000000;
      }
      &.active{
        font-weight: 400;
        color: #000000;
      }
    }
  }
}