.wrapper{
  &_getconnected{
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 300;
    color: $black;
    background-color: $white;
    padding-top: 90px;
    .get-connected{
      &__inner{
        display: flex;
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding-top: 45px;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 97px;
      }
      &__desc{
        padding-top: 30px;
        width: 62%;
        &__title{
          font-size: 30px;
        }
        &__title-big{
          font-size: 44px;
          margin-top: 13px;
        }
        &__text{
          font-size: 16px;
          display: block;
          margin-top: 36px;
          line-height: 28px;
          width: 80%;

        }
        &__list{
          margin-top: 16px;
          padding-left: 24px;
          &__item{
            font-size: 16px;
            position: relative;
            margin-bottom: 9px;
            &:before{
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: $black;
              top: 7px;
              left: -17px;
            }
          }
        }
      }
      &__circle{
        .circle{
          width: 300px;
          height: 300px;
          border-radius: 50%;
          border: 4px solid #bcbdc0;
          box-sizing: border-box;
        }
      }
    }
    .how{
      padding-top: 80px;
      &__inner{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        border-bottom: 1px solid #d8d8d8;

      }
      &__title{
        font-size: 30px;
      }
      &__text{
        font-size: 16px;
        display: block;
        margin-top: 21px;
        line-height: 28px;
      }
      &__board{
        display: flex;
        justify-content: space-between;
        padding-top: 110px;
        padding-bottom: 138px;
        &__item{
          width: 30%;
          .circle{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px solid #bcbdc0;
            position: relative;
            .number{
              position: absolute;
              top: 0;
              right: 0;
              background-color: #00aae8;
              width: 45px;
              height: 45px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $white;
              font-size: 30px;
            }
          }
        }
        &__title{
          font-size: 24px;
          margin-top: 35px;
        }
        &__text{
          font-size: 16px;
          display: block;
          margin-top: 16px;
        }
        &__list{
          margin-top: 17px;
          padding-left: 24px;
          &__item{
            font-size: 16px;
            position: relative;
            line-height: 28px;
            &:before{
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: $black;
              top: 11px;
              left: -17px;
            }
          }
        }
      }
    }
    .costs{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 80px;
      padding-bottom: 89px;
      &__inner{
        @extend .how__inner;
        max-width: 600px;
        padding: 0 32px;
        border: none;
      }
      &__title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 39px;
      }
      &__text{
        font-size: 16px;
        display: block;
        margin-top: 20px;
      }
      &__desc{
        &__title{
          font-size: 19px;
          margin-top: 21px;
          font-weight: 400;
        }
        &__text{
          margin-top: 12px;
          display: block;
          font-style: italic;
          line-height: 28px;
        }
        &__btn{
          font-size: 14px;
          margin-top: 35px;
          text-transform: uppercase;
          display: flex;
          .btn{
            text-decoration: none;
            color: $white;
            border: 1px solid #08c;
            background-color: #08c;
            padding: 14px 48px 14px 20px;
            background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
            &__text{
              position: relative;
              &:before{
                content: "";
                display: inline-block;
                width: 9px;
                height: 9px;
                border-right: 2px solid $white;
                border-top: 2px solid $white;
                transform: rotate(45deg);
                position: absolute;
                right: -16px;
                top: 3px;
              }
            }
          }
        }
      }
    }
    .faq{
      background-color: #eaeaea;
      padding-top: 90px;
      margin-top: 15px;
      &__title{
        font-size: 30px;
      }
      &__text{
        font-size: 16px;
        display: block;
        margin-top: 21px;
      }
      &__inner{
        @extend .how__inner;
      }
    }
    .trusts{
      background-color: #eaeaea;
      padding-top: 50px;
      padding-bottom: 40px;


      &__title{
        font-size: 20px;
        max-width: 960px;
        margin: 0 auto 50px;;
        text-align: center;
      }

      &__inner{
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
      }
      &-item{
        text-align: center;
        &__title{
          margin-bottom: 30px;
        }
        &-wrapper{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}