@media (max-device-width: 960px) {

  .wrapper{
    &_getconnected{
      .get-connected{
        &__inner{
          flex-direction: column;
          padding: 0 20px;
        }
        &__desc{
          width: 100%;
          &__title{
            font-size: 60px;
          }
          &__title-big{
            font-size: 88px;
          }
          &__text{
            font-size: 32px;
            line-height: 52px;
          }
          &__list{
            &__item{
              font-size: 32px;
              line-height: 52px;
              margin-bottom: 20px;
              &:before{
                content: '';
                top: 20px;
              }
            }
          }
        }
        &__circle{
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }
      .how{
        padding-left: 20px;
        &__inner{

        }
        &__title{
          font-size: 60px;
        }
        &__text{
          font-size: 32px;
          line-height: 52px;
        }
        &__board{
          flex-direction: column;
          &__item{
            width: 100%;
            margin-bottom: 75px;
          }
          &__title{
            font-size: 48px;
          }
          &__text{
            font-size: 32px;
          }
          &__list{
            &__item{
              font-size: 32px;
              line-height: 52px;
              margin-bottom: 15px;
              &:before{
                content: '';
                top: 20px;
              }
            }
          }
        }
      }
      .costs{
        &__inner{
        }
        &__title{
          font-size: 60px;
        }
        &__text{
          font-size: 32px;
        }
        &__desc{
          &__title{
            font-size: 38px;
          }
          &__text{
            font-size: 32px;
            line-height: 50px;
          }
          &__btn{
            .btn{
              padding: 28px 96px 28px 40px;
              &__text{
                font-size: 30px;
                &:before{
                  content: '';
                  top: 10px;
                }
              }
            }
          }
        }
      }
      .faq{
        &__title{
          font-size: 60px;
        }
        &__text{
          font-size: 32px;
        }
        &__inner{
          padding: 0 10px;

        }
      }
      .trusts-item-wrapper{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
  }
}
