@media (max-device-width: 960px) {
  .wrapper{
    position: static;
    margin: 0 auto;
  }
  .header{
    &__inner{
      height: 140px;
    }
    .nav{
      &__list{
        &__item{
          &:nth-child(1),
          &:nth-child(2){
            display: none;
          }
          &_mobile-nav{
            display: flex;
            height: 35px;
            .line{
              width: 60px;
              height: 1px;
              border-top: 6px solid #4c4c4c;
            }
          }
        }
      }
    }
  }
  .mobile-nav{
    &.opened{
      display: block;
    }
    &__list{
    }
    &__item{
      font-size: 32px;
      padding: 32px 0;
      .link{
      }
    }
    &__close{
        position: absolute;
        right: 32px;
        top: 32px;
        width: 50px;
        height: 50px;
      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: $white;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  .head{
    height: auto;
    min-height: 590px;
    padding: 0 20px;
    &__title{
      font-size: 80px;
      text-align: center;
    }
    &__desc{
      font-size: 60px;
      text-align: center;
    }
    &__btn{
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 30px;
      .btn{
        width: 40%;
        min-width: 270px;
        margin: 0 auto 20px auto;
        &__text{
          font-size: 20px;
          &:before{
            content: '';
            top: 6px;
          }
        }
      }
    }
  }
  .difference{
    &__inner{
      flex-direction: column;
      padding: 0 20px;
      height: auto;
    }
    &__circle{
      width: 100%;
    }
    &__desc{
      width: 100%;
      &__btn{
        .btn{
          padding: 28px 96px 28px 40px;
          &__text{
            font-size: 30px;
            &:before{
              content: '';
              top: 10px;
            }
          }
        }
      }
      &__title{
        font-size: 60px;
      }
      &__sub-title{
        font-size: 88px;
      }
      &__text{
        font-size: 32px;
        line-height: 60px;
      }
    }
  }

  .footer{
    &__inner{
      height: auto;
    }
    &__top{
      flex-direction: column;
      &__item{
        margin-bottom: 40px;
        font-size: 32px;
        .link{
          font-size: 30px;
        }
        .about-list{
          &__item{
          font-size: 30px;
            .nlink{
              font-size: 28px;

            }
            &_head{
            }
          }
        }
        .more-list{
          &__item{
            font-size: 30px;
            &_head{
            }
            .nlink{
              font-size: 28px;

            }
          }
        }
      }
    }
    &__bottom{
      flex-direction: column;
      justify-content: center;
      &__item{
        text-align: center;
        margin-bottom: 20px;
        .copy,
        .privacy,
        .terms
        {
          font-size: 24px;
        }
      }
    }
  }
}
