.wrapper{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.font-family{
  font-family: 'Roboto','Arial', 'Helvetica', 'sans-serif';
  font-weight: 300;
}
.header{
  width: 100%;
  background-color: $black;
  z-index: 99;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  &__inner{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-area{
      .logo{
        img{
          width: 230px;
        }
      }
    }
  }
  .nav{
    &__list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__item{
        color: $white;
        @extend .font-family;
        margin: 0 10px;
        font-size: 14px;
        .link{
          color: $white;
          transition: color 0.3s ease-in-out;
          text-decoration: none;
          &:hover{
            color: #00adef;
            transition: color 0.3s ease-in-out;
          }
        }
        &_icon{
          &:before{
            content: '\f2c0';
            font-family: 'FontAwesome';
            color: $white;
          }
        }
        &_mobile-nav{
          display: none;
          flex-direction: column;
          justify-content: space-between;
          height: 25px;
          .line{
            width: 30px;
            height: 1px;
            border-top: 3px solid #4c4c4c;
          }
        }
      }
    }
  }
}
.head{
  display: flex;
  justify-content: center;
  margin-top: 90px;
  .gp-particles{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  @extend .font-family;
  background-image: url('../images/main/main-head.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  height: 330px;
  &__inner{
    @extend .header__inner;
    flex-direction: column;
  }
  &__title{
    font-size: 40px;
    color: $white;
    margin-top: 49px;
  }
  &__desc{
    font-size: 30px;
    color: $white;
    margin-top: 10px;
  }
  &__btn{
    @extend .font-family;
    font-size: 14px;
    margin-top: 70px;
    text-transform: uppercase;
    .btn{
      text-decoration: none;
      color: $black;
      background-color: $white;
      padding: 22px 48px 19px 87px;
      position: relative;
      transition: background-color 0.3s ease-in-out;
      &:hover{
        transition: background-color 0.3s ease-in-out;
        background-color: #eaebeb;
      }
      &_blue{
        color: $white;
        margin-left: 42px;
        background-color: #08c;
        border: 1px solid #0088cb;
        background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
        transition: background-color 0.3s ease-in-out;
        &:hover{
          border-color: #0074ad;
          background-color: #0074ad;
          transition: background-color 0.3s ease-in-out;
        }
      }
      &__text{
        position: relative;
        &:before{
          content: "";
          display: inline-block;
          width: 9px;
          height: 9px;
          border-right: 2px solid $black;
          border-top: 2px solid $black;
          transform: rotate(45deg);
          position: absolute;
          right: -16px;
          top: 3px;
        }
        &_white{
          &:before{
            content: '';
            border-color: $white;
          }
        }
      }
    }
  }
}
.mobile-nav{
  @extend .font-family;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 99;
  display: none;
  &__list{
    width: 50%;
    height: 100%;
    background-color: $black;
    padding-left: 20px;
    padding-top: 40px;
    position: absolute;
    left: -50%;
    transition: left 0.2s ease-in-out;
    &.opened{
      left: 0;
      transition: left 0.2s ease-in-out;
    }
  }
  &__item{
    font-size: 16px;
    padding: 16px 0;
    .link{
      color: $white;
      text-decoration: none;
    }
  }
}
.difference{
  padding-top: 41px;
  padding-bottom: 130px;
  background-image: url('../images/purpose/shadow.png');
  background-repeat: no-repeat;
  background-position: 50% bottom;
  &__inner{
    @extend .header__inner;
    height: auto;
    align-items: flex-start;
  }
  &__circle{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    .circle{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid #bcbdc0;
      position: relative;
      top: 16px;
      box-sizing: border-box;

    }
  }
  &__desc{
    width: 75%;
    font-weight: 300;
    color: $black;
    padding-top: 60px;
    &__title{
      @extend .font-family;
      font-size: 30px;
    }
    &__sub-title{
      @extend .font-family;
      font-size: 44px;
      margin-top: 13px;

    }
    &__text{
      @extend .font-family;
      font-size: 16px;
      display: block;
      margin-top: 34px;
      line-height: 28px;

    }
    &__btn{
      @extend .font-family;
      font-size: 14px;
      margin-top: 35px;
      text-transform: uppercase;
      display: flex;
      .btn{
        text-decoration: none;
        color: $white;
        border: 1px solid #08c;
        background-color: #08c;
        padding: 14px 48px 14px 20px;
        background-image: linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,.01) 100%);
        position: relative;
        &__text{
          position: relative;
          &:before{
            content: "";
            display: inline-block;
            width: 9px;
            height: 9px;
            border-right: 2px solid $white;
            border-top: 2px solid $white;
            transform: rotate(45deg);
            position: absolute;
            right: -16px;
            top: 3px;
          }
        }
      }
    }
  }
}
.footer{
  @extend .font-family;
  width: 100%;
  background-color: #cecece;
  padding: 0 10px;
  &__inner{
    @extend .header__inner;
    height: auto;
    flex-direction: column;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 42px;
    &__item{
      font-size: 16px;
      font-weight: 400;
      width: 31.3%;
      .link{
        font-weight: 300;
        text-decoration: none;
        font-size: 14px;
        color: #5e5e5e;
      }
      .about-list{
        &__item{
          margin-bottom: 11px;
          &_head{
            @extend .font-family;
            color: #000000;
            font-size: 16px;
            margin-bottom: 15px;
            font-weight: 400;
          }
          .nlink{
            @extend .font-family;
            color: #5e5e5e!important;

            text-decoration: none;
            transition: color 0.2s ease-in-out;
            font-size: 14px;
            &:hover{
              color: $black!important;
              transition: color 0.2s ease-in-out;
            }
          }
        }
      }
      .more-list{
        &__item{
          @extend .about-list__item;
          &_head{
            @extend .about-list__item_head;
          }
          .link{
            @extend .font-family;
            text-decoration: none;
            color: #5e5e5e;
          }
        }
      }
    }
  }
  &__bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 26px 0;
    &__item{
      .copy,
      .privacy,
      .terms
      {
        font-size: 12px;
        color: #5e5e5e;
        text-decoration: none;
      }
      .terms{
        margin-left: 7px;
      }
    }
  }
}
.circle{
  box-sizing: border-box;
}