.privacy-page{
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  color: $black;
  padding-top: 142px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;
  &__inner{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }
  &__title{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 13px;
  }
  &__text{
    line-height: 28px;
    font-size: 16px;
    display: block;
    margin-bottom: 12px;
  }
  &__item{
    &_first{
      margin-top: 55px;
    }
    &__title{
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 12px;
    }
    &__text{
      @extend .privacy-page__text;
    }
  }
}