@media (max-device-width: 960px) {
  .privacy-page{
    &__inner{
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
    }
    &__title{
      font-size: 60px;
      line-height: 80px;
      font-weight: 400;
      margin-bottom: 13px;
    }
    &__text{
      font-size: 32px;
      line-height: 56px;
      display: block;
      margin-bottom: 12px;
    }
    &__item{
      &_first{
        margin-top: 55px;
      }
      &__title{
        font-size: 38px;
        line-height: 68px;
        font-weight: 400;
        margin-bottom: 12px;
      }
      &__text{
      }
    }
  }
}

