.wrapper{
  &_purpose{
    .our-story{
      width: 100%;
      color: $black;
      padding-top: 166px;
      &__inner{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Roboto', 'Arial', 'sans-serif';
        font-weight: 300;
        padding: 0 20px 160px;
        background-image: url('../images/purpose/shadow.png');
        background-repeat: no-repeat;
        background-position: 50% bottom;
        background-size: contain;
      }
      &__title{
        font-size: 30px;
      }
      &__question{
        font-size: 44px;
        margin-top: 13px;
      }
      &__text{
        font-size: 16px;
        display: block;
        margin-top: 40px;
      }
    }
    .we-make{
      padding-top: 55px;
      &__inner{
        @extend .our-story__inner;
        background-image: none;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 80px;
      }
      &__text{
        font-size: 16px;
        line-height: 38px;
        display: block;
        width: 66%;
        margin: 0 auto;
      }
    }
    .objectives{
      &__inner{
        @extend .our-story__inner;
        background-image: none;
        border-bottom: 1px solid #d8d8d8;
        padding-bottom: 80px;

      }
      &__title{
        font-size: 24px;
        margin-top: 89px;
        margin-bottom: 20px;
      }
      &__text{
        @extend .we-make__text;
      }
    }
    .target{
      &__inner{
        @extend .our-story__inner;
        background-image: none;
        display: flex;
        padding-bottom: 80px;

      }
      &__item{
        width: 50%;
      }
      &__title{
        @extend .objectives__title;
      }
      &__text{
        @extend .we-make__text;
      }
    }
    .influencer{
      background-color: #e0e0e0;
      padding-top: 85px;
      &__inner{
        @extend .our-story__inner;
        background-image: none;
        padding-bottom: 80px;

      }
      &__text{
        @extend .we-make__text;
        margin-bottom: 12px;
      }
    }
  }
}