@media (max-device-width: 960px) {
  .wrapper{
    &_purpose{
      .our-story{
        &__inner{
        }
        &__title{
          font-size: 60px;
        }
        &__question{
          font-size: 88px;
        }
        &__text{
          font-size: 32px;
          line-height: 42px;
        }
      }
      .we-make{
        &__inner{
        }
        &__text{
          width: 100%;
          padding: 0 10px;
          font-size: 32px;
          line-height: 56px;
        }
      }
      .objectives{
        &__inner{

        }
        &__title{
          font-size: 48px;
        }
        &__text{
        }
      }
      .target{
        &__inner{
          flex-direction: column;
          text-align: left;
        }
        &__item{
          width: 100%;
        }
        &__title{
        }
        &__text{
          padding-left: 0;
        }
      }
      .influencer{
        &__inner{

        }
        &__text{
        }
      }
    }
  }
}

