.terms-page{
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 300;
  color: $black;
  padding-top: 142px;
  padding-bottom: 52px;
  padding-left: 20px;
  padding-right: 20px;
  &__inner{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }
  &__title{
    font-size: 30px;
    &_large{

    }
  }
  &__text{
    display: block;
    margin-top: 16px;
  }
  &__item{
    &_first{
      margin-top: 58px;
    }
    &__title{
      font-size: 20px;
      margin-top: 13px;
      font-weight: 400;
      &_large{
        font-size: 25px;
      }
    }
    &__text{
      display: block;
      line-height: 28px;
      margin-top: 12px;
    }
    .terms-page-list{
      padding-left: 24px;
      margin-top: 12px;
      &__item{
        position: relative;
        line-height: 28px;
        &:before{
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $black;
          top: 11px;
          left: -17px;
        }
      }
    }
  }
}