@media (max-device-width: 960px) {
  .terms-page{
    &__inner{
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
    }
    &__title{
      font-size: 60px;
      line-height: 80px;
    }
    &__text{
      display: block;
      margin-top: 16px;
      font-size: 32px;
      line-height: 52px;
    }
    &__item{
      &_first{
        margin-top: 58px;
      }
      &__title{
        font-size: 40px;
        line-height: 60px;
        margin-top: 13px;
        font-weight: 400;
        &_large{
          font-size: 60px;
          line-height: 100px;
          margin-top: 32px;
        }
      }
      &__text{
        display: block;
        font-size: 32px;
        line-height: 52px;
        margin-top: 12px;
      }
      .terms-page-list{
        &__item{
          &:before{
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: $black;
            top: 11px;
            left: -17px;
          }
        }
      }
    }
  }
}
