$icons-spacing: 5px;
$icons-sprite-dimensions: true;
$icons-layout: vertical;
@import "sprites/icons/*.png";
.inline-block {
  display: -moz-inline-stack; // ff2
  display: inline-block;
  zoom: 1; // Internet Explorer 6
  *display: inline; // Internet Explorer
}
@mixin ib-icons($name) {
  @include icons-sprite($name);
  @extend .inline-block;
}
@mixin only-icons($name) {
  $icons-sprite-dimensions: false;
  @include icons-sprite($name);
  $icons-sprite-dimensions: true;
}
