@mixin bgi($image){
  width: image-width($image);
  height: image-height($image);
  background-image: url-image($image);
  background-repeat: no-repeat;
}
.inline-block{
  display: -moz-inline-stack; // ff2
  display: inline-block;
  zoom: 1; // Internet Explorer 6
  *display: inline; // Internet Explorer
}
.i-invisible {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

