
 {
	font-size:10px;
}

.no-svg  {
	background-image: url("../sprites/png-sprite.png");
}

 {
	content:' ';
	vertical-align:middle;
	display: inline-block;
	background-image: url("../sprites/svg-sprite.svg");
	background-repeat: no-repeat;
	background-size: 0em 0em;
}
